<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="single-request-container">
                <h4>{{request.title}}</h4>
                <p>{{request.text}}</p>
                <button class="go-back-btn" data-id= {{request.location_id}}>Nearby Requests</button>
                <button class="save-req-btn" data-id= {{request.id}}>Save Request</button>
            </div>
    </div>
  </div>
</div>

<div class="modal fade" id="message-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Message Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                 <form id="send-message-form">
                                    <label for="title">Title</label><br>
                                    <input type="text" id="title" name="title"><br>
                                    <label for="text">Message:</label><br>
                                    <input type="text" id="text" name="text"><br>
                                    <label for="image-link">image link:</label><br>
                                    <input type="text" id="image-link" name="image-link"><br>
                                    <p id="recipient-id">{{request.poster_id}}</p>
                                    <input type="submit" id="send-msg-btn" name="send-msg-btn">
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <a id="send-msg-btn" class="btn btn-primary" data-bs-toggle="modal" href="#message-modal" role="button">Send Message</a>


<script src="/js/request.js"></script>